backports-abc==0.4
cycler==0.9.0
decorator==4.0.6
greenlet==0.4.9
ipykernel==4.2.1
ipython==4.0.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
msgpack-python==0.4.6
nbconvert==4.1.0
nbformat==4.0.1
neovim==0.1.0
nose==1.3.7
notebook==4.0.6
numpy==1.10.2
pandas==0.17.1
path.py==8.1.2
pep8==1.6.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
py==1.4.31
pyfas==0.1.0
Pygments==2.0.2
pyparsing==2.0.6
PySide==1.2.4
pytest==2.8.5
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.1.0
qtconsole==4.1.1
scipy==0.16.1
simplegeneric==0.8.1
six==1.10.0
terminado==0.5
tornado==4.3
traitlets==4.0.0
xlrd==0.9.4
